<div class="container">

    <img src="../../assets/img/plango.webp"><br>

    <div class="container-voyage">
        <div *ngIf="displayState.loaded && travels.length!=0" class="travel_list">
            <div *ngFor="let travel of travels" class="travel_item">
                <div><span>{{travel.city}} ( {{travel.country}} )</span><br>
                    <span>{{travel.dateStart | date: 'dd/MM/yyyy'}} -> {{travel.dateEnd | date: 'dd/MM/yyyy'}}</span>
                </div>
                <mat-icon (click)="delete(travel)">delete</mat-icon>
                <mat-icon [routerLink]="['/share', travel.invitationCode]">share</mat-icon>
            </div>

        </div>
        <div *ngIf="displayState.loaded  && travels.length==0" class="travel_list">
            <span>Vous ne possédez pas de voyage</span>
        </div>
        <div *ngIf="displayState.loading" class="travel_list loading">
            <div class="travel_item loading">
                <div><span></span><br>
                    <span></span>
                </div>
                <mat-icon class="loading">share</mat-icon>
            </div>
            <div class="travel_item loading">
                <div><span></span><br>
                    <span></span>
                </div>
                <mat-icon class="loading">share</mat-icon>
            </div>
            <div class="loading-indicator">
                <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
            </div>
        </div>

    </div>

    <button mat-fab [ngClass]="{'loading':displayState.loading}">
    	<mat-icon [ngClass]="{'loading':displayState.loading}"  (click)="displayState.loading ||add()">add_circle</mat-icon>
    </button>
</div>