@import url(../../../assets/css/styles.scss);
.container {
    text-align: center;
    width: 100%;
    height: 100%;
}

.container>button {
    margin-top: 20px;
    background-color: var(--color-secondary);
}

div.loading>div>span {
    background-color: silver;
    padding-inline: 100px;
    height: 20px;
}

.travel_list .loading {
    background-color: grey;
}

mat-icon.loading {
    color: silver;
}

:host ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
    stroke: grey;
}

.loading-indicator {
    display: flex;
    justify-content: center;
}

.container>button.loading {
    background-color: grey;
    pointer-events: none;
}

.container-voyage {
    height: 55%;
    overflow-y: scroll;
    width: 85%;
    margin: auto;
    border: 1px solid var(--color-primary);
}

.travel_item {
    display: flex;
    background-color: var(--color-primary);
    color: white;
    padding: 10px;
    border-bottom: 2px solid black;
    justify-content: space-between;
}

.travel_item>div {
    margin: auto;
}

.travel_item:last-of-type {
    border-bottom: none;
}

.travel_item mat-icon {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    cursor: pointer;
}