<app-loading *ngIf="loading"></app-loading>
<div class="container">

    <img alt="logo Plango" src="../../assets/img/plango.webp"><br>

    <div class="container-travel">
        <div *ngIf="displayState.loaded && travels.length!=0" class="travel_list">
            <div *ngFor="let travel of travels" class="travel_item">
                <div><span>{{travel.city}} ( {{travel.country}} )</span><br>
                    <span>{{travel.dateStart | date: 'dd/MM/yyyy'}} -> {{travel.dateEnd | date: 'dd/MM/yyyy'}}</span>
                </div>
                <mat-icon alt="Supprimer le voyage" (click)="delete(travel)">delete</mat-icon>
                <mat-icon alt="Partager le voyage" [routerLink]="['/share', travel.invitationCode]">share</mat-icon>
            </div>

        </div>
        <div *ngIf="displayState.loaded && travels.length==0" class="travel_list">
            <span title="Vous ne possédez aucun voyage">Vous ne possédez pas de voyage</span>
        </div>
        <div *ngIf="displayState.loading" class="travel_list loading">
            <div class="travel_item loading">
                <div><span></span><br>
                    <span></span>
                </div>
                <mat-icon class="loading">share</mat-icon>
            </div>
            <div class="travel_item loading">
                <div><span></span><br>
                    <span></span>
                </div>
                <mat-icon alt="Chargement..." class="loading">share</mat-icon>
            </div>
            <div class="loading-indicator">
                <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
            </div>
        </div>

    </div>

    <button (click)="displayState.loading ||add()" mat-fab [ngClass]="{'loading':displayState.loading}">
    	<mat-icon class="add_button" alt="Ajoutez un voyage" [ngClass]="{'loading':displayState.loading}">add</mat-icon>
    </button>
</div>