<div class="flex-container">
    <img src="../../assets/img/plango.webp"><br>
    <form [formGroup]="formCreate">
        <label for="code-field" title="Pays">Pays :</label>
        <input name="country" type="text" formControlName="country">

        <label for="code-field" title="Ville">Ville :</label>
        <input name="city" type="text" formControlName="city">

        <label for="code-field" title="Date de début">Date de début :</label>
        <input name="dateStart" type="date" formControlName="dateStart">

        <label for="code-field" title="Date de fin">Date de fin :</label>
        <input name="dateEnd" type="date" formControlName="dateEnd">
    </form>
    <span class="error" *ngIf="formCreate.invalid && dispError">Tous les champs sont obligatoires.</span>
    <span class="error" *ngIf="formCreate.errors">{{ formCreate.errors?.dates }}</span>
    <div class="container-buttons primary-buttons">
        <button form="formCreate" [routerLink]="['/']" title="Annuler, retour à la page principale">Annuler</button>
        <button (click)="createTravel()" title="Créer le voyage">Créer </button>
    </div>
</div>