@import url(../../../assets/css/styles.scss);
label {
    color: var(--color-secondary);
}

.copy-code-field {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.copy-code-field input:nth-child(1) {
    width: 60%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.copy-code-field input:nth-child(2) {
    background-image: url('../../../assets/img/copy.png');
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position: center;
    padding-left: 18px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
}

.copy-code-field input {
    border: none;
    background-color: lightgray;
    padding: 8px;
}

.copied {
    position: absolute;
    top: 40%;
    background-color: grey;
    color: white;
    border-radius: 30px;
    padding: 1em;
    animation: test 3s forwards;
}

@keyframes test {
    90% {
        opacity: 1;
        top: 40%;
    }
    100% {
        opacity: 0;
        top: 38%;
    }
}