<div class="flex-container">
    <img src="../../assets/img/plango.webp"><br>

    <label for="copy-field">Votre code plango :</label>
    <div class="copy-code-field">
        <input name="copy-field" type="text" disabled [value]="invitationCode" />
        <input type="button" (click)="copyInvitationCode()" />
    </div>
    <div class="container-buttons primary-buttons">
        <button [routerLink]="['/']">Annuler</button>
        <button>Envoyer le lien</button>
    </div>
    <div class="copied" *ngIf="copied">
        <span>Code copié !</span>
    </div>
</div>