.container {
    text-align: center;
    width: 100%;
}

img {
    width: 20%;
    margin-top: 50px;
    margin-bottom: 25px;
}

@media screen and (max-width: 700px) {
    img {
        width: 80%;
    }
}


/* 
img {
    width: 80%;
    margin-top: 50px;
    margin-bottom: 25px;
} */

.container>button {
    margin-top: 20px;
    background-color: #c75411;
}

.container-voyage {
    /* background-color: red; */
    height: 65vh;
    width: 85vw;
    margin: auto;
    border: 1px solid #0f2d01;
}